* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.section-size {
    width: 250px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 01rem 1.5rem;
}

.neumorphic-btn {
    font-size: 25px;
    background-color: #56C7F7;
}

.neumorphic-btn .icon {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #56C7F7;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  5px 5px 10px #4fb7e3,
                -5px -5px 10px #5dd7ff;
}

.icon:focus {
    animation: shadow .25s ease-in-out;
}

@keyframes shadow {
    0% {
        box-shadow: inset 5px 5px 10px #4fb7e3,
                    inset -5px -5px 10px #5dd7ff;
    }
    100% {
        box-shadow: none;
    }
}

.neon-btn {
    font-size: 30px;
    background-color: #161516;
}

.neon-btn .icon {
    color: #fff;
    animation: first_color .5s ease-in-out infinite alternate;
}

.neon-btn .icon:nth-child(2) {
    animation-name: second_color;
}

.neon-btn .icon:nth-child(3) {
    animation-name: third_color;
}

@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #ff1177,
                    0 0 20px #d6249f,
                    0 0 30px #285aeb;
    }
    100% {
        text-shadow: 0 0 5px #ff1177,
                    0 0 10px #d6249f,
                    0 0 15px #285aeb;
    }
}

@keyframes second_color {
    0% {
        text-shadow: 0 0 10px #1877f2,
                    0 0 20px #1459b3,
                    0 0 30px #179bff;
    }
    100% {
        text-shadow: 0 0 5px #1877f2,
                    0 0 10px #1459b3,
                    0 0 15px #179bff;
    }
}

@keyframes third_color {
    0% {
        text-shadow: 0 0 10px #25d366,
                    0 0 20px #48eeb5,
                    0 0 30px #0ec0a5;
    }
    100% {
        text-shadow: 0 0 5px #25d366,
                    0 0 10px #48eeb5,
                    0 0 15px #0ec0a5;
    }
}

.loader {
    background-color: #161516;
    justify-content: center;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up {
    20% {
        background-color: #fff;
        transform: scaleY(1.5);
    }
    40% {
        transform: scaleY(1);
    }
}

.burger-menu {
    background-color: #2CA25A;
    justify-content: center;
}

.hamburger {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #ecf0f1;
    margin-block: 10px;
    border-radius: 4px;
    transition: transform .5s, opacity .25s;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}
.hamburger.active .line:nth-child(2) {
    opacity: 0;
}
.hamburger.active .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

.toggle-btn {
    background-color: #575757;
}

#checkbox {
    display: none;
}

.toggler {
    display: block;
    width: 80px;
    height: 37px;
    border: 2px solid #4672fe;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin-right: 1px;
}

.ball, .sun, .moon {
    position: absolute;
    top: 50%; /* revisar esta parte */
    transform: translateY(-50%);
}

.ball {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #4672fe;
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}

.sun {
    left: 5px;
    
}

.moon {
    right: 5px;
}

#checkbox:checked + .ball {
    transform: translate(43px, -50%);
}

.container-loaderB {
    height: 250px;
    background-color: #4823B5;
}

.loader-balls {
    width: 120px;
    height: 75px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loader-balls span {
    font-size: 22px;
    text-transform: uppercase;
    margin: auto;
    color: #fff;
}

.ball-loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    animation: bounce .5s alternate infinite;
}

.ball-loader:nth-child(2) {
    animation-delay: .16s;
}

.ball-loader:nth-child(3) {
    animation-delay: .32s;
}

@keyframes bounce {
    0% {
        transform: scaleX(1.25);
    }
    100% {
        transform: translateY(-50px) scaleX(1);
    }
}